.recode {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 273px;
    height: 117px;
}
.child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    width: 730px;
    height: 491px;
}
.item {
    position: absolute;
    top: 383.5px;
    left: 15.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 699.02px;
    height: 1px;
}
.div2 {
    position: absolute;
    top: 19px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 19px;
}
.frame-child {
    position: absolute;
    top: 54px;
    left: 0px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 698px;
    height: 50px;
}
.div3 {
    position: absolute;
    top: 54px;
    left: 7px;
    color: #000;
    text-align: left;
    display: flex;
    align-items: center;
    width: 683px;
    height: 49px;
}
.div4 {
    position: absolute;
    top: 120px;
    left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87px;
    height: 19px;
}
.frame-item {
    position: absolute;
    top: 155px;
    left: 0px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 698px;
    height: 50px;
}
.div5 {
    position: absolute;
    top: 155px;
    left: 7px;
    color: #000;
    text-align: left;
    display: flex;
    align-items: center;
    width: 683px;
    height: 49px;
}
.frame-inner {
    position: absolute;
    top: 222px;
    left: 6px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
}
.div6 {
    position: absolute;
    top: 222px;
    left: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 16px;
}
.parent {
    position: absolute;
    top: 58px;
    left: 16px;
    width: 698px;
    height: 361px;
    overflow: hidden;
}
.div7 {
    position: absolute;
    top: 26px;
    left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 596px;
    height: 19px;
}
.inner {
    position: absolute;
    top: 420px;
    left: 564px;
    border-radius: 30px;
    width: 142px;
    height: 37px;
}
.div8 {
    position: absolute;
    top: 419px;
    left: 572px;
    font-size: 15px;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 38px;
}
.div1 {
    position: absolute;
    top: 302px;
    left: 362px;
    width: 730px;
    height: 491px;
    overflow: hidden;
    font-size: 15px;
    color: #8f8383;
}
.div9 {
    position: absolute;
    top: 0px;
    left: 68.71px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 69px;
}
.right-arrow-1-icon {
    position: absolute;
    top: 12px;
    left: 0px;
    width: 36.32px;
    height: 45px;
    object-fit: cover;
}
.group {
    position: absolute;
    top: 169px;
    left: 362.21px;
    width: 352.39px;
    height: 69px;
}
.line-div {
    position: absolute;
    top: 246.5px;
    left: 22.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 1396px;
    height: 1px;
}
.div {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 1052px;
    overflow: hidden;
    text-align: center;
    font-size: 48px;
    color: #000;
    font-family: Itim;
}

