/* src/FindIdForm.css */
.header {
  position: fixed; /* 또는 relative, absolute도 가능 */
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* 헤더의 높이 */
  background: #333;
  z-index: 10; /* 다른 요소들 위에 헤더가 위치하도록 설정 */
}

.stickyComponent {
  position: sticky;
  top: 50px; /* 헤더 높이와 같게 설정 */
  background: #ccc;
  z-index: 5;
}

.find-id-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .find-id-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  