#slider-container article {
    display: grid !important;
    width: 1350px !important;
    background-color: #ee5757;
    margin: 2rem auto;
  }
  
  .slick-slider .slick-arrow:before {
    color: #333;
    font-size: 2rem;
  }
  
  .slick-slider .slick-dots button:before {
    font-size: 1.5rem;
    color: teal;
  }
  
  .slick-slider .slick-dots li.slick-active button::before {
    color: teal;
  }
  .slick-slider .slick-dots {
    bottom: -44px;
  }
  
  .slick-slider .slick-dots li {
    margin: 0 0.5rem;
  }

.grid-cols-3 {
  grid-template-columns: repeat(3,
   minmax(0, 1fr));
}

.contents {
  position: absolute;
  width: 1453px;
}