#slider-container article {
    display: grid !important;
    width: 1350px !important;
    background-color: #ee5757;
    margin: 2rem auto;
  }
  
  .slick-slider .slick-arrow:before {
    color: #333;
    font-size: 2rem;
  }
  
  .slick-slider .slick-dots button:before {
    font-size: 1.5rem;
    color: teal;
  }
  
  .slick-slider .slick-dots li.slick-active button::before {
    color: teal;
  }
  .slick-slider .slick-dots {
    bottom: -44px;
  }
  
  .slick-slider .slick-dots li {
    margin: 0 0.5rem;
  }

  .fixed-container {
    display: flex;
    justify-content: center;
  }

  .grid {
    display: grid;
    grid-template-columns: 120px 120px 140px 140px 150px 300px 400px; /* 1열과 4열을 1fr로 설정 */
  }

  .custom-button {
    background-color: transparent;
  }